$font-family: "Jost", sans-serif;

$base-color: #000;
$black: #000;
$white-color: #fff;
$accent-color: #09aff4;
$light-blue: #a4e4ff;
$light-purple: #fec3ff;
$light-red: #ffc3d2;
$light-green: #baffe6;
$light-red-2: #ffecf3;
$secondary-text-color: #c3c5ce;