@import 'base/variables';

* {
  font-family: $font-family;
  box-sizing: border-box;
}

html {
  color: $base-color;
}

body {
  overflow-x: hidden;
  background-color: $bg-color;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
}

.arrow {
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;

  &__btn {
    border-radius: 39px;
    padding: 8px;
    width: 78px;
    height: 78px;
    background: $black;
    display: grid;
    place-items: center;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: opacity 0.4s ease-in, visibility 0.4s ease-in;

  &_active {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 1400px) {
  .container {
    padding: 0 25px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 5px;
  }
}

@import 'blocks/typography';
@import 'blocks/button';

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/services';
@import 'blocks/choose';
@import 'blocks/info';
@import 'blocks/portfolio';
@import 'blocks/clients';
@import 'blocks/pricing';
@import 'blocks/reviews';
@import 'blocks/blog';
@import 'blocks/footer';