.footer {
  border-radius: 72px 72px 0 0;
  background: $black;

  &__wrapper {
    padding: 48px 0 24px;
    color: $white-color;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 20px;
  }

  &__logo {
    margin-bottom: 25px;
    display: block;

    img {
      width: 74px;
      height: 29px;
    }
  }

  &__descr {
    color: $white-color;
    max-width: 428px;
    margin-bottom: 48px;
  }

  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
  }

  &__input-wrapp {
    border: 2px solid #fff;
    border-radius: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    margin: 12px 0;
    width: 510px;
  }

  &__input {
    font-weight: 400;
    font-size: 20px;
    color: $white-color;
    border: none;
    background: transparent;
    outline: none;

    &::placeholder {
      color: $white-color;
      all: unset;
    }

    &::-moz-placeholder {
      color: $white-color;
    }

    &:-ms-input-placeholder {
      color: $white-color;
    }

    &:-moz-placeholder {
      color: $white-color;
    }
  }

  &__btn {
    background: $white-color;
    color: $black;
    border: none;

    img {
      mix-blend-mode: difference;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 35px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 34px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;

    &::before {
      content: url("../assets/icons/open-icon.svg");
      width: 24px;
      height: 24px;
    }

    a {
      font-weight: 400;
      font-size: 20px;
      text-decoration: none;
      color: $white-color;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 16px;
      background-color: $white-color;
      bottom: -5px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

    &:hover::after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;

    address {
      all: unset;
    }

    a,
    address {
      display: block;
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      color: $white-color;
      text-decoration: none;
    }
  }

  &__social {
    display: flex;
    gap: 12px;

    &__item {
      border-radius: 100%;
      padding: 8px;
      width: 40px;
      height: 40px;
      background: $white-color;

      img {
        mix-blend-mode: difference;
      }
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    padding-right: 28px;
    padding-left: 28px;
    &__inner {
      flex-direction: column;
      gap: 38px;
    }
  }
}

@media (max-width: 665px) {
  .footer {
    &__content {
      flex-direction: column;
    }
    &__descr {
      max-width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 48px 12px 12px;
    border-radius: 42px 42px 0 0;

    &__wrapper {
      padding: 0;
    }

    &__inner {
      gap: 32px;
      margin-bottom: 29px;
    }

    &__descr {
      margin-bottom: 28px;
    }

    &__info {
      flex-wrap: wrap;
    }

    &__input-wrapp {
      max-width: 100%;
      width: 100%;
    }

    &__input {
      width: 100px;
    }
  }
}