.header {
  position: absolute;
  background-color: #E2E6EE;
  border-radius: 0 0 72px 72px;
  width: 100%;
  z-index: 2;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }

  &__navigation {
    flex-grow: 1;
    flex-basis: 0;
  }

  &__logo {
    display: block;
    margin-right: 110px;
    width: 74px;
    height: 29px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      position: relative;
      padding: 8px 22px;
      color: $base-color;
      display: flex;
      align-items: center;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 16px;
        background-color: $black;
        bottom: 5px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }

      &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }

    &__item_logo {
      display: none;
    }

    &__item_active {
      position: relative;
      border-radius: 26px;
      padding: 8px 20px;
      background: $black;
      color: $white-color;

      &::after {
        content: url(../assets/icons/dot-icon.svg);
        margin-left: 8px;
        height: 25px;
        width: 25px;
      }

      &:hover {
        opacity: 0.8;
      }

      &:hover::before {
        display: none;
      }
    }

    &__link {
      text-decoration: none;
      font-weight: 500;
      font-size: 20px;
      color: inherit;
    }
  }

  &__btn-menu {
    display: none;
    align-items: center;
  }
}

@media (max-width: 1045px) {
  .header {
    padding: 0 20px;

    &__menu {
      &__item {
        padding: 8px 10px;
      }
    }
  }
}

@media (max-width: 991px) {
  .header {
    &__navigation {
      display: block;
      z-index: 5;
      position: fixed;
      top: 0;
      left: -400%;
      height: 100vh;
      width: 198px;
      background: #e2e6ee;
      border-radius: 0 42px 42px 0;
      padding: 22px 12px;
      transition: all .6s;

      &_active {
        left: 0;
      }
    }

    &__menu {
      height: 100%;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 18px;

      &__item {
        padding: 8px 22px;
      }

      &__item_logo {
        display: block;
      }
    }

    &__btn-menu {
      display: flex;
    }
  }
}

@media (max-width: 576px) {
  .header {
    &__wrapper {
      padding: 14px 0;
    }
  }
}