.header {
  position: absolute;
  background-color: #E2E6EE;
  border-radius: 0 0 72px 72px;
  width: 100%;
  z-index: 2;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 39px;

    &__item {
      padding: 8px 22px;
      color: $base-color;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__item_active {
      position: relative;
      border-radius: 26px;
      padding: 8px 20px;
      background: $black;
      color: $white-color;

      &::after {
        content: url(../assets/icons/dot-icon.svg);
        margin-left: 8px;
        height: 25px;
        width: 25px;
      }
    }

    &__link {
      text-decoration: none;
      font-weight: 500;
      font-size: 20px;
      color: inherit;
    }
  }
}