.portfolio {
  position: relative;
  width: 100%;
  padding-top: 48px;
  margin-bottom: 39px;

  &__inner {
    background: #e2e6ee;
    border-radius: 72px;
  }

  .container {
    max-width: 1330px;
  }

  &__wrapper {
    padding: 38px 0 64px;
  }

  &__subtitle {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 38px;
  }

  &__tabs {
    &__btns {
      margin-bottom: 38px;
    }
  }

  &__tab-content {
    display: grid;
    grid-template-columns: repeat(4, 318px);
    gap: 20px;

    &__inner {
      display: contents;

      &:nth-of-type(1) {
        * {
          background: $light-purple;
        }
      }

      &:nth-of-type(2) {
        * {
          background: $light-blue;
        }
      }

      &:nth-of-type(3) {
        * {
          background: $light-green;
        }
      }

      &:nth-of-type(4) {
        * {
          background: $light-red-2;
        }
      }
    }

    &__inner> :nth-of-type(1) {
      .item {
        background: $light-purple;
      }
    }

    &__item {
      border: 2px solid $black;
      border-radius: 32px;
      width: 318px;
      height: 318px;
      display: grid;
      place-items: center;
    }
  }
}

@media (max-width: 1430px) {
  .portfolio {
    &__tab-content {
      grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));

      &__item {
        width: auto;
      }
    }
  }
}

@media (max-width: 992px) {
  .portfolio {
    &__wrapper {
      padding: 38px 20px 64px;
    }
  }
}

@media (max-width: 576px) {
  .portfolio {
    padding-top: 28px;

    &__wrapper {
      padding: 28px 12px 55px;
    }

    &__inner {
      border-radius: 42px;
    }

    &__tabs {
      &__btns {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
        margin-bottom: 18px;
      }
    }

    &__tab {
      font-size: 14px;
      padding: 8px 22px;
    }

    &__tab-content {
      gap: 18px;
    }

    &__title {
      margin-bottom: 28px;
    }
  }
}