.reviews {
  position: relative;
  padding-top: 48px;
  margin-bottom: 39px;

  &__title {
    margin-bottom: 38px;
  }

  &__subtitle {
    margin-bottom: 24px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(382px, 1fr));
    gap: 29px;
    border: 2px solid $black;
    border-radius: 72px;
    padding: 50px;
    flex-wrap: wrap;
  }

  &__item {
    &__descr {
      margin-left: auto;
      min-width: 312px;
      margin-left: 58px;
      margin-bottom: 24px;
    }

    &__user {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &__user-img {
      width: 48px;
      height: 48px;
    }

    &__user-name {
      font-weight: 400;
      font-size: 20px;
      line-height: 1;
    }

    &__user-subname {
      font-weight: 200;
      font-style: italic;
      font-size: 20px;
      line-height: 100%;
    }

    &:not(:last-child) {
      border-right: 2px solid $black;
      padding-right: 14px;
    }
  }
}

@media (max-width: 1400px) {
  .reviews {
    &__items {
      grid-template-columns: repeat(1, minmax(382px, 1fr));
    }

    &__item {
      &:not(:last-child) {
        border-right: none;
        padding-right: 0;
        border-bottom: 2px solid $black;
        padding-bottom: 18px;
      }
    }
  }
}

@media (max-width: 576px) {
  .reviews {
    &__items {
      border-radius: 22px;
      padding: 24px 24px 72px;
    }
    &__item {
      &__descr {
        min-width: 100px;
      }
    }
  }
}

@media (max-width: 576px) {
  .reviews {
    &__item {
      &__descr {
        width: 60%;
      }
    }
  }
}